header{
    height: 64px;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
header div{
    display: flex;
    align-items: center;
    gap: 25px;
    
    font-size: 18px;
    
}
header a{
    text-decoration: none;
    color: white;
}
body{
    background-color: black;
}
.thing{
    display: flex;
    justify-content: center;
}
.rasm1{
    position: absolute;
    
    margin-left: -450px;
}
.box{
    display: flex;
}